$colorbtn : #0F406F;
    




#btn-flotex{
    color: white;
   background-color: $colorbtn;

}

/* level right */
.contenedor-nav-dash-li.active{
    position: initial;
    display: flex;
    flex-direction: column;

    .level-left-menu{
        display: block;
        position: initial;

    }
    .content-nav-left{
      width: 260px;
      padding-left: 52px;
      height: 100%;
    }
    a{
      height: 40px;
    }

}
.contenedor-nav-dash-li{
    position: relative;
}
.contenedor-nav-dash-li:hover{
    //quitar
    background: #727cf5;
    
}
  .level-left-menu{
    display: none;
    position: absolute;
    right: -160px;
    top: 0px;
    width: 160px;
    height: 68px;
    // width: 160px;
    // height: 68px;
    // padding-left: 52px;
  }
  .level-left-menu:hover{
    display: block;
    background: #55449e;
    position: absolute;
    height: 168px;
  }
  
  .content-nav-left{
    display: flex;
    flex-direction: column;
    background-color: #313a46;
    a{
        text-decoration: none;
        // text-align: center;
        display: flex;
        align-items: center;
        color: azure;
    }
  }

  .content-nav-left{

    a:hover{
        color: #bccee4 !important;
    }
    a{
        color: #8391a2;
        padding-left: 15px;
    }
  }

  .contenedor.bg-siderbar-flotex.active{
    /*DEMO/*/
    position: relative;

    .contenedor-nav-dash-li:hover{
        background: #727cf5;
        .level-left-menu{
            
            display: block;
        }
        .first-content-left{
            background-color: #727cf5;
            height: 68px;
            
            color: #fff;
        }
        a{
            height: 68px;
        }
    }
    
    .content-navbarcustom-fixed{
        position: fixed;
        top: 0;
        right: 0;
        left: 70px;
        z-index: 10000;
        transition: 0.6s;
      }
  }

  .content-navbarcustom-fixed{
    position: fixed;
    top: 0;
    right: 0;
    left: 260px;
    z-index: 10000;
    transition: 0.4s;
  }
.icon-dash-flotex-left{
    width: 20px;
    text-align: center;
}